@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
* {
    margin: 0;
    padding: o;
    box-sizing: border-box;
    font-family: 'Amatic SC', Arial, Helvetica, sans-serif;
}
h1{
    font-size: 50px;
    color: #1c140d;
}
h2{
    font-size: 45px;
    color: #241910;
}
h3{
    font-size: 30px;
    color: #302215;
}
h4{
    font-size: 20px;
    color: #3b2a1a;
}
h5{
    font-size: 15px;
    color: #45311f;
}
h6{
    font-size: 12px;
    color: #544332;
}
p{
    font-size: 18px;
    color: #241e18;
    margin: 15px 0 20px 0;
}
.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;
}
body{
    width: 100%;
}
/*Header styling */
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #B3a192;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #1c140d;
    transition: 0.2s ease ;
}
#navbar li a:hover,
#navbar li a.active{
    color: sienna;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 1.5px;
    background: sienna;
    position: absolute;
    bottom: -8px;
    left: 35%;
}
/*Home Page styling */
/*Image from unsplash*/
#heroheader{
    background-image: url(Images/HeroImg.jpg);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 50% right 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20%;
}
#heroheader h2{
    color: sienna;
}
#heroheader button{
    background-image: url("Images/HeroButton.png");
    background-color: transparent;
    background-position: center;
    background-size: cover;
    padding: 30px 10px 37px 10px;
    border: 0;
    font-size: 25px;
    font-weight: 700;
    color: whitesmoke;
    background-repeat: no-repeat;
    cursor: pointer;
}
#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    border-radius: 30px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.05);
    border: 1px solid #544332;

}